
/****************************************\

01.general
02.helper
03.components
04.menu
05.home
06.about
07.services
08.features
09.video
10.cta
11.download
12.sreenshort
13.counter
14.pricing
15.client
16.faq
17.contact
18.footer
19.responsive

*****************************************/
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,

h1 {
  font-size: 70px;
  
  }

h4{  
  font-size: 30px;
  color: #2E3A52; 
  font-family: Poppins Semibold; 
  font-style: italic; 
  font-weight: 700; 
  text-align: center;
  

}

h5{ 
  color: #FFFFFF; 
  font-family: Archivo; 
  font-size: 17px;  
  font-weight: 500; 
  line-height: 28px;  
  text-align: center; }



.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  line-height: 1.8;
}

.section {
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
}

.vertical-content {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bg-overlay {
  background-color: #323232;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 14px;
  padding-left: 20px;
  padding-top: 40px;
}

.f-20 {
  font-size: 20px;
}

.line-height_1_4 {
  line-height: 1.4;
}

.line-height_1_6 {
  line-height: 1.6;
}

.line-height_1_8 {
  line-height: 1.8;
}

.title-desc {
  max-width: 900px;
  margin: 0 auto;
  font-size: 17px;
  color: #565656; 
  font-family: Archivo; 
  font-weight: 700; 
  line-height: 20px;  
  text-align: center;
}

.title-desc p{
  max-width: 800px;
  margin: auto;
  font-size: 18px;
  color: #565656; 
  font-family: Archivo; 
  font-weight: 200; 
  line-height: 20px;  
  text-align: center;
}

.title-desca {

  font-size: 28px;
  color: #2E3A52; 
  font-family: Poppins; 
   
  font-style: italic; 
  font-weight: 500; 
  text-align: center;
}


.title-heading {
  font-size: 28px;
  color: #614FA2; 
  font-family: Poppins Semibold; 
  
  font-style: italic; 
  font-weight: 900; 
  text-align: center;
}

.title-headingg{
  font-size: 24px;
  color: #614FA2; 
  font-family: Poppins Semibold; 
  
  font-style: italic; 
  font-weight: 900; 
  text-align: center;
}


.title-headin {
  font-size: 18px;
  color: #614FA2; 
  font-family: Poppins; 
  
  font-style: italic; 
  font-weight: 900; 
  text-align: center;
}

.bg-custom {
  background-color: #343a40;
}

.bg-light {
  background-color: #f3f1f8 !important;
}

.text-custom {
  color: #5e02f5;
}

.text-muted {

  color: #565656; 
  font-family: Archivo; 
  font-size: 17px;  
  font-weight: 500; 
  line-height: 28px;  
  text-align: center;
}

.text-white-50 {
  color: rgba(40, 40, 40, 0.75) !important;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-sm {
  color: #614fa2;
  font-size: 18px;
  background: transparent;
  width: 224px;
  height: 48px;
  border-radius: 24px;
  border: solid 2px #614fa2;

}

.btn-roundes {
  background-color: #9DABC8;
  color: white;
}

.btn-round {
  border-radius: 50px !important;
}

.btn-rounde {
  border-radius: 10px !important;
}

.btn1-round {
  border-radius: 0px !important;
}

.btn-rounded {
  border-radius: 30px !important;
}

.btn-custom {
  color: white;
  font-size: 18px;
  width: 259px;
  height: 48px;
  border-radius: 24px;
  background-color: #fc8400;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.open > .dropdown-toggle .btn-custom {
  color: #ffffff;
  background-color: #FC8400;
}

.btn-white {
  color: #282828;
  background-color: #fafaff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.btn-white.focus,
.btn-white:active,
.open > .dropdown-toggle .btn-white {
  color: #282828;
  background-color: #e1e1ff;
}

.btn-outline {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active,
.btn-outline.focus,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover,
.open > .dropdown-toggle .btn-outline {
  outline: none;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.navbar-custom {
  
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color:  #ffffff !important;
}

.navbar-custom .navbar-nav li a {
  line-height: 27px;
  color: #222222;
  text-align: center;
  font-size: 14px;
  font-family: "IBM Plex Sans";
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 10px;
  font-weight: 500;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #282828;
}

.logo .logo-light {
  display: inline-block;
}

.logo .logo-dark {
  display: none;
}

.nav-sticky .logo .logo-dark {
  display: inline-block;
}

.nav-sticky .logo .logo-light {
  display: none;
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
  color: #282828 !important;
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #282828;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  font-size: 18px;
  background: 0 0;
  border: 1px solid transparent;
  color: #ffffff;
  outline: 0;
}

.navbar-custom .navbar-toggles-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.menu-toggle {
  padding: 4.5px 10px !important;
}

.menu-toggle span {
  line-height: 27px;
}

.navbar-button {
  margin-left: 20px;
}

/*---NAVBAR STICKY--*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 15px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 33px rgba(140, 140, 140, 0.1);
          box-shadow: 0 10px 33px rgba(140, 140, 140, 0.1);
}

.nav-sticky.navbar-custom.sticky-dark {
  background-color: #ffffff;
}

.nav-sticky .logo {
  color: #282828 !important;
}

.nav-sticky .navbar-nav li a {
  color: #282828 !important;
}

.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active {
  color: #FF4500 !important;
}

.nav-sticky.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  border: 1px solid transparent;
  outline: 0;
}

.nav-sticky .navbar-nav {
  margin-top: 0px;
}

.bg-home-1 {
  background-color: #EFF5F8;
  background: linear-gradient(to right, #fff, #fff);
  position: relative;
  padding: 30px 0px;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-content {
  position: relative;
  z-index: 9;
}

.home-img {
  position: relative;
  z-index: 9;
}

.home-title {
  color: #614FA2; 
  font-family: Poppins Semibold; 
  font-size: 40px;  
  font-style: italic; 
  font-weight: 800; 
  text-align: center;
  padding-top: 80px
}

.home-desc {
  font-size: 16px;
  max-width: 370px;
}

.home-bg-overlay {
  background: url(../imagenes/banners/ALARMAS_homeDTbg.jpg);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;

}

.home-shape {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
}

.home-shape img {
  width: 100%;
  height: auto;
}

.bg-home-2 {
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background: linear-gradient(to right, #fff, #fff);
  background-size: cover;
  padding-top: 100px;
  position: relative;
}

.home-title-2 {
  font-size: 36px;
}

.home-desc-2 {
  font-size: 16px;
  max-width: 600px;
}

.home-img-2 img {
  position: relative;
  top: 80px;
  z-index: 1;
  -webkit-box-shadow: 0px 7px 3px 0px rgba(239, 239, 239, 0.3);
          box-shadow: 0px 7px 3px 0px rgba(239, 239, 239, 0.3);
  border: 5px solid #ffffff;
}

.home-button span {
  position: relative;
  top: 8px;
  color: #ffffff;
}

.bg-home-3 {
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background: linear-gradient(to right, #fff, #fff);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 170px 0px 140px 0px;
}

.home-icon-3 i {
  font-size: 30px;
  color: #ffffff;
}

.home-title-3 {
  font-size: 32px;
}

.home-desc-3 {
  font-size: 16px;
}

.start-form input {
  position: relative;
  top: -7px;
  right: -18px;
  padding: 10px 5px;
  width: 90%;
  font-size: 14px;
  border: none;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f0f0ff;
  outline: none !important;
}



.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


.start-form button {
  position: absolute;
  top: 19px;
  right: -5px;
  padding: 12px 24px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.start-form form {
  position: relative;
  max-width: 400px;
}

.start-form p {
  line-height: 10px;
  text-align: left;
  padding-left: 35px;
}

.bg-home-4 {
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background: linear-gradient(to right, #fff, #fff);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 170px 0;
}

.home-4 {
  position: relative;
  z-index: 9;
}

.home-title-4 {
  font-size: 42px;
}

.home-title-4 span {
  font-weight: 600;
}

.home-desc-4 {
  font-size: 18px;
}

.about-icon img {
  height: 25px;
}

.services-box {
  -webkit-box-shadow: 0px 7px 3px 0px rgba(239, 239, 239, 0.3);
          box-shadow: 0px 7px 3px 0px rgba(239, 239, 239, 0.3);
}

.servicios-box {
  background-color: #614FA2;
  color: white;
  margin: 20px;
  padding: 0px 0px;
  text-align: center;
}

.service-box {
  background-color: #614FA2;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}

.service-box p{
  line-height: 0px;
  
}

.service-box img{
    padding-right: 40px;
    padding-top: 20px;
}
.service-box u{
  background-color: #614FA2;
  color: white;
  font-size: 18px;
  text-align: center;
  padding-left: 90px;
}

.service-box span{
  margin-right: 70px;
}


.servicio-box {
  background-color: #14213D;
  color: white;
  margin: 20px;
  padding: 10px 0px;
  text-align: center;
  width: 350px;
  height: 380px;
}

.servicess-box {
  background-color: #14213D;
  color: white;
  font-size: 20px;
  text-align: center;
}

.servicess-box p{
  line-height: 0px;
  
}

.servicess-box img{
    padding-right: 40px;
    padding-top: 20px;
}
.servicess-box u{
  background-color: #14213D;
  color: white;
  font-size: 18px;
  text-align: center;
  padding-left: 90px;
}

.servicess-box span{
  margin-right: 70px;
}




.selector-form p {
  top: 10px;
  left: -150px;
  text-align: center;
  position: relative;
  font-size: 18px;
  background-color: #EFF5F8;
  outline: none !important;
  height: 100px;
  max-width: 600px;
  min-width: 200px;
  border-radius: 64.5px;
  border: solid 6px #eff5f8;
  padding-top: 22px;
  
}

.selector-form button {
  position: absolute;
  top: 15px;
  left: 200px;
  text-align: center;
  font-size: 18px;
  background-color: #EFF5F8;
  outline: none !important;
  height: 120px;
  width: 120px;
  border-radius: 64.5px;
  border: solid 6px #eff5f8;
  
}

.selector-for p {
  left: 130px;
  text-align: center;
  position: relative;
  font-size: 18px;
  background-color: #EFF5F8;
  outline: none !important;
  height: 100px;
  max-width: 600px;
  min-width: 200px;
  border-radius: 64.5px;
  border: solid 6px #eff5f8;
  padding-top: 22px;
  
}

.selector-for button {
  position: absolute;
  top: 5px;
  right: 220px;
  text-align: center;
  font-size: 18px;
  background-color: #EFF5F8;
  outline: none !important;
  height: 120px;
  width: 120px;
  border-radius: 64.5px;
  border: solid 6px #eff5f8;
  
}

.selector-fo p {
  left: 10px;
  text-align: center;
  position: relative;
  font-size: 18px;
  background-color: #EFF5F8;
  outline: none !important;
  height: 100px;
  max-width: 600px;
  min-width: 200px;
  border-radius: 64.5px;
  border: solid 6px #eff5f8;
  padding-top: 22px;
  
}

.selector-fo button {
  position: absolute;
  top: 8px;
  left: 360px;
  text-align: center;
  font-size: 18px;
  background-color: #EFF5F8;
  outline: none !important;
  height: 120px;
  width: 120px;
  border-radius: 64.5px;
  border: solid 6px #eff5f8;
  
}


.guia-box {
  background-color: #EFF5F8;
  color: #565656;
  
  padding: 10px 0px;
  text-align: center;
  border-radius: 50px;
  margin-left: 200px;
}

.guia-box span{
  margin-right: 50px;
  font-size: 28px
  color: #614FA2;
}

.guiaa-box {
  background-color: #EFF5F8;
  color: #565656;
  margin: 20px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 50px;
  margin-left: 400px;
}

.guiaa-box span{
  margin-right: 50px;
  font-size: 28px
  color:#614FA2;
}

.services-title {
  font-size: 20px;
}

.services-icon img {
  width: 60px;
}

.service-icon img {
  width: 300px;
}

.features-icon i {
  font-size: 40px;
  color: #FC8400;
}

.read-more {
  color: #282828;
  font-weight: 600;
  border-bottom: 2px solid #282828;
  padding: 2px 0px;
}

.read-more:hover {
  color: #FC8400;
  border-bottom: 2px solid #FC8400;
  padding: 2px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.read-more i {
  font-size: 16px;
  position: relative;
  top: 2px;
}

.features-icon-2 i {
  font-size: 40px;
  color: #FC8400;
}

.features-title {
  font-size: 40px;
}

.features-icon-3 {
  width: 44px;
  height: 44px;
  background-color: #FC8400;
  border-radius: 4px;
  text-align: center;
  line-height: 44px;
}

.features-icon-3 i {
  font-size: 25px;
  color: #ffffff;
}

.features-content-3 {
  overflow: hidden;
}

.video {
  background-color: #282828;
}

.video-title {
  font-size: 30px;
  color: #ffffff;
}

.play-icon-circle {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  font-size: 26px;
  color: #FC8400;
  font-size: 40px;
}

.cta-title {
  font-size: 30px;
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
}

.download {
  background-color: #282828;
}

.screenshot-overlay a {
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.screenshot-img img {
  border-radius: 4px;
}

.swiper-button-next {
  background-image: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #FC8400;
  text-align: center;
  font-size: 30px;
  color: white;
  border-radius: 3px;
}

.swiper-button-prev {
  background-image: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #FC8400;
  text-align: center;
  font-size: 30px;
  color: white;
  border-radius: 3px;
}

.swiper-slide img {
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}

.counter-icon i {
  color: #FC8400;
  font-size: 40px;
}

.counter-count {
  font-size: 40px;
}

.pricing-box {
  border: 1px solid #eeeef4;
  border-radius: 10px;
}

.pricing-box-active {
  -webkit-box-shadow: 0px 7px 3px 0px rgba(239, 239, 239, 0.3);
          box-shadow: 0px 7px 3px 0px rgba(239, 239, 239, 0.3);
}

.pricing-plan {
  color: #282828;
  font-size: 15px;
  font-weight: 600;
}

.pricing-price {
  font-size: 32px;
}

.pricing-month {
  color: #FC8400;
}

.bg-client {
  background-image: url(../images/bg-2.jpg);
  background-size: cover;
  position: relative;
  background-position: center center;
}

.client-desc {
  max-width: 450px;
  margin: 0 auto;
}

.owl-theme .owl-controls {
  margin-top: 70px;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 30px;
  height: 7px;
  background-color: #FC8400;
}

.client-img {
  background-color: white; 
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  padding: 20px;  
}

.client-logo {
  background-color: #EFF5F8;
  border-radius: 10% 10% 0px 0px;
-moz-border-radius: 10% 10% 0px 0px;
-webkit-border-radius: 10% 10% 0px 0px;
border: 0px solid #000000;
  padding-bottom: 30px;
}
.cliente-logo {
  background-color: #EFF5F8;
 
}

.faq-icon {
  font-size: 26px;
  color: #FC8400;
}

.faq-content {
  overflow: hidden;
}

.contact-box {
  -webkit-box-shadow: 0 2px 2px rgba(10, 16, 20, 0.16), 0 0 2px rgba(10, 16, 20, 0.01);
          box-shadow: 0 2px 2px rgba(10, 16, 20, 0.16), 0 0 2px rgba(10, 16, 20, 0.01);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

textarea.form-control {
  height: auto !important;
}

.error {
  margin: 8px 0px;
  display: none;
  color: #ea553d;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #ea553d;
  border: 2px solid #ea553d;
}

.contact-loader {
  display: none;
}

#success_page {
  text-align: center;
  margin-bottom: 50px;
}

.custom-form .form-control {
  height: 44px;
  border: 1px solid rgba(40, 40, 40, 0.15);
  font-size: 14px;
  background-color: #ffffff;
  padding-left: 20px;
}

.custom-form .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subscribe-heading {
  position: relative;
  z-index: 9;
}

.subcribe-form {
  position: relative;
  z-index: 9;
}

.subcribe-form input {
  padding: 22px 30px;
  width: 100%;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding-right: 180px;
  outline: none !important;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.13);
}



.subcribe-form button {
  position: absolute;
  top: 11px;
  right: 12px;
}

.subcribe-form form {
  position: relative;
  max-width: 700px;
  margin: 0px auto;
}

.subcribe-form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
}

.subcribe-form input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.subcribe-form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.subcribe-form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.footer {
  background:#614FA2;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.foter {
  background: #2E3A52;
  color: white;
  background-size: cover;
  background-position: center center;
  position: relative;

}


.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  line-height: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: rgba(255, 255, 255, 0.5);
}

.footer-link a:hover {
  color: #ffffff;
}

.footer-content {
  position: relative;
  z-index: 9;
}

.footer-alt {
  color: white;
}

.carousel-caption {
top: 60%;
transform: translateY(-50%);
bottom: initial;
left: 60%;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}

.carousel-control-prev-icon {
       background-image: none;
}

.carousel-control-next-icon {
       background-image: none;
}


.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0 0 30px;
}
.progress{
    height: 17px;
    background: rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.progress .progress-bar{
    border-radius: 15px;
    box-shadow: none;
    position: relative;
    animation: animate-positive 2s;
}
.progress .progress-icon,
.progress .progress-value{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 32px;
    background: #614FA2;
    border: 7px solid #614FA2;
    font-size:15px;
    font-weight: 600;
    color: #614FA2;
    position: absolute;
    top: -17px;
    right: -5px;
}
.progress .progress-icon{
    right: auto;
    left: -5px;
}

@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}



#qid {
  padding: 10px 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 20px;
}
label.btn {
    padding: 18px 60px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}

label.btn:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}
label.btn-block {
    text-align: left;
    position: relative
}

label .btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: rgba(0,0,0,.15);
    height: 100%
}

label .glyphicon {
    top: 34%
}
.element-animation1 {
    animation: animationFrames ease .8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease .8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
.element-animation2 {
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
.element-animation3 {
    animation: animationFrames ease 1.2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease 1.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease 1.2s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
.element-animation4 {
    animation: animationFrames ease 1.4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease 1.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease 1.4s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(-1500px,0px)
    }

    60% {
        opacity: 1;
        transform: translate(30px,0px)
    }

    80% {
        transform: translate(-10px,0px)
    }

    100% {
        opacity: 1;
        transform: translate(0px,0px)
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        -webkit-transform: translate(-1500px,0px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(30px,0px)
    }

    80% {
        -webkit-transform: translate(-10px,0px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px,0px)
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity: 0;
        -ms-transform: translate(-1500px,0px)
    }

    60% {
        opacity: 1;
        -ms-transform: translate(30px,0px)
    }
    80% {
        -ms-transform: translate(-10px,0px)
    }

    100% {
        opacity: 1;
        -ms-transform: translate(0px,0px)
    }
}

.modal-header {
    background-color: transparent;
    color: inherit
}

.modal-body {
    min-height: 205px
}
#loadbar {
    position: absolute;
    width: 62px;
    height: 77px;
    top: 2em
}
.blockG {
    position: absolute;
    background-color: #FFF;
    width: 10px;
    height: 24px;
    -moz-border-radius: 8px 8px 0 0;
    -moz-transform: scale(0.4);
    -moz-animation-name: fadeG;
    -moz-animation-duration: .8800000000000001s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 8px 8px 0 0;
    -webkit-transform: scale(0.4);
    -webkit-animation-name: fadeG;
    -webkit-animation-duration: .8800000000000001s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 8px 8px 0 0;
    -ms-transform: scale(0.4);
    -ms-animation-name: fadeG;
    -ms-animation-duration: .8800000000000001s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 8px 8px 0 0;
    -o-transform: scale(0.4);
    -o-animation-name: fadeG;
    -o-animation-duration: .8800000000000001s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 8px 8px 0 0;
    transform: scale(0.4);
    animation-name: fadeG;
    animation-duration: .8800000000000001s;
    animation-iteration-count: infinite;
    animation-direction: linear
}
#rotateG_01 {
    left: 0;
    top: 28px;
    -moz-animation-delay: .33s;
    -moz-transform: rotate(-90deg);
    -webkit-animation-delay: .33s;
    -webkit-transform: rotate(-90deg);
    -ms-animation-delay: .33s;
    -ms-transform: rotate(-90deg);
    -o-animation-delay: .33s;
    -o-transform: rotate(-90deg);
    animation-delay: .33s;
    transform: rotate(-90deg)
}
#rotateG_02 {
    left: 8px;
    top: 10px;
    -moz-animation-delay: .44000000000000006s;
    -moz-transform: rotate(-45deg);
    -webkit-animation-delay: .44000000000000006s;
    -webkit-transform: rotate(-45deg);
    -ms-animation-delay: .44000000000000006s;
    -ms-transform: rotate(-45deg);
    -o-animation-delay: .44000000000000006s;
    -o-transform: rotate(-45deg);
    animation-delay: .44000000000000006s;
    transform: rotate(-45deg)
}
#rotateG_03 {
    left: 26px;
    top: 3px;
    -moz-animation-delay: .55s;
    -moz-transform: rotate(0deg);
    -webkit-animation-delay: .55s;
    -webkit-transform: rotate(0deg);
    -ms-animation-delay: .55s;
    -ms-transform: rotate(0deg);
    -o-animation-delay: .55s;
    -o-transform: rotate(0deg);
    animation-delay: .55s;
    transform: rotate(0deg)
}
#rotateG_04 {
    right: 8px;
    top: 10px;
    -moz-animation-delay: .66s;
    -moz-transform: rotate(45deg);
    -webkit-animation-delay: .66s;
    -webkit-transform: rotate(45deg);
    -ms-animation-delay: .66s;
    -ms-transform: rotate(45deg);
    -o-animation-delay: .66s;
    -o-transform: rotate(45deg);
    animation-delay: .66s;
    transform: rotate(45deg)
}
#rotateG_05 {
    right: 0;
    top: 28px;
    -moz-animation-delay: .7700000000000001s;
    -moz-transform: rotate(90deg);
    -webkit-animation-delay: .7700000000000001s;
    -webkit-transform: rotate(90deg);
    -ms-animation-delay: .7700000000000001s;
    -ms-transform: rotate(90deg);
    -o-animation-delay: .7700000000000001s;
    -o-transform: rotate(90deg);
    animation-delay: .7700000000000001s;
    transform: rotate(90deg)
}
#rotateG_06 {
    right: 8px;
    bottom: 7px;
    -moz-animation-delay: .8800000000000001s;
    -moz-transform: rotate(135deg);
    -webkit-animation-delay: .8800000000000001s;
    -webkit-transform: rotate(135deg);
    -ms-animation-delay: .8800000000000001s;
    -ms-transform: rotate(135deg);
    -o-animation-delay: .8800000000000001s;
    -o-transform: rotate(135deg);
    animation-delay: .8800000000000001s;
    transform: rotate(135deg)
}
#rotateG_07 {
    bottom: 0;
    left: 26px;
    -moz-animation-delay: .99s;
    -moz-transform: rotate(180deg);
    -webkit-animation-delay: .99s;
    -webkit-transform: rotate(180deg);
    -ms-animation-delay: .99s;
    -ms-transform: rotate(180deg);
    -o-animation-delay: .99s;
    -o-transform: rotate(180deg);
    animation-delay: .99s;
    transform: rotate(180deg)
}
#rotateG_08 {
    left: 8px;
    bottom: 7px;
    -moz-animation-delay: 1.1s;
    -moz-transform: rotate(-135deg);
    -webkit-animation-delay: 1.1s;
    -webkit-transform: rotate(-135deg);
    -ms-animation-delay: 1.1s;
    -ms-transform: rotate(-135deg);
    -o-animation-delay: 1.1s;
    -o-transform: rotate(-135deg);
    animation-delay: 1.1s;
    transform: rotate(-135deg)
}
@-moz-keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

@-webkit-keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

@-ms-keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

@-o-keyframes fadeG {
    0% {
        background-color: #000
    }
    100% {
        background-color: #FFF
    }
}

@keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}





@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 0px 0px !important;
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
  }
  .navbar-custom .navbar-nav {
    margin-top: 0px;
  }
  .navbar-custom .navbar-nav li.active {
    border-color: transparent;
  }
  .navbar-custom .navbar-nav li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #282828 !important;
    margin: 0px;
  }
  .navbar-custom > .container {
    width: 90%;
    
  }
  .navbar-custom .navbar-nav li.active a,
  .navbar-custom .navbar-nav li a:hover,
  .navbar-custom .navbar-nav li a:active {
    color: #FF4500 !important;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #282828;
  }
  .home-title {
    font-size: 38px;
    color: #663399;
  }
  .navbar-button {
    margin-top: 15px;
    margin-left: 0px;
  }
  .logo .logo-light {
    display: none;
  }
  .logo .logo-dark {
    display: inline-block;
  }
  .features-title {
    font-size: 28px;
  }
  .home-button span {
    display: none;
  }
  .home-title-2 {
    font-size: 32px;
  }
}
/*# sourceMappingURL=style.css.map */